[submodule "cmake"]
	path = cmake
	url = https://github.com/nicledomaS/cmake.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/pugixml"]
	path = modules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "modules/gsl"]
	path = modules/gsl
	url = https://github.com/microsoft/GSL.git
